// Transitions

$hide-transition:         visibility 0.5s, opacity 1.5s ease-in-out;
$hide-header-transition:  transform 200ms ease-in-out;
$background-transition:   background-color .3s ease-in-out;
$card-top-transition:     margin-top .3s ease-in-out;